<div class="record-details-container" *ngIf="ploca">
  <div class="record-top-section">
    <img
      class="record-cover"
      [src]="getSlikaUrl(ploca.proizvod.slikaPutanja)"
      [alt]="ploca.proizvod.naziv"
    />

    <div class="record-info">
      <h1>{{ ploca.proizvod.naziv }}</h1>
      <p class="record-opis">{{ ploca.proizvod.opis }}</p>

      <table class="info-table">
        <tr>
          <td><strong>Žanr:</strong></td>
          <td>{{ ploca.zanr.naziv }}</td>
        </tr>
        <tr>
          <td><strong>Brend:</strong></td>
          <td>{{ ploca.brend }}</td>
        </tr>
        <tr>
          <td><strong>Izdavačka kuća:</strong></td>
          <td>{{ ploca.izdavackaKuca }}</td>
        </tr>
        <tr>
          <td><strong>Godina izdanja:</strong></td>
          <td>{{ ploca.godinaIzdanja }}</td>
        </tr>
        <tr>
          <td><strong>Cena:</strong></td>
          <td>{{ ploca.proizvod.cena | currency:'RSD' }}</td>
        </tr>
      </table>

      <button class="add-to-cart" (click)="dodajUKorpu()">Dodaj u korpu 🛒</button>
    </div>
  </div>

  <div class="tracklist-section">
    <h2>Lista pesama</h2>
    <ul class="tracklist">
      <li *ngFor="let pesma of ploca.listaPesama.split(',')">
        🎵 {{ pesma.trim() }}
      </li>
    </ul>
  </div>
</div>


    <hr class="zelena-linija" />
    
    <div class="kolekcija-wrapper">


<section class="carousel-wrapper">
    <h2>Izdvajamo iz naše kolekcije</h2>

    <div class="carousel-viewport">
      <div class="carousel-track" [ngStyle]="{ transform: trackTransform }">
        @for (ploca of ploce; track ploca.id) {
          <div class="carousel-item">
            <app-ploca-card
             [id]="ploca.id!"
              [naziv]="ploca.proizvod.naziv"
              [izdavackaKuca]="ploca.izdavackaKuca"
              [zanr]="ploca.zanr.naziv"
              [cena]="ploca.proizvod.cena"
              [slika]="ploca.proizvod.slikaPutanja"
              [slug]="generateSlug(ploca.proizvod.naziv, ploca.izdavackaKuca)">
            </app-ploca-card>
          </div>
        }
      </div>
    </div>

    <div class="carousel-controls">
      <button (click)="prethodna()">◀</button>
      <button (click)="sledeca()">▶</button>
    </div>
  </section>
    </div>





    <div class="toast" *ngIf="showToast">
    Ploča dodata u korpu! ✅
    </div>
