<div class="form-container">
  <form (ngSubmit)="register()">
      <h2>Registracija admina</h2>
    <input [(ngModel)]="korisnickoIme" name="korisnickoIme" placeholder="Ime" required>
    <input [(ngModel)]="email" name="email" type="email" placeholder="Email" required>
    <input [(ngModel)]="lozinka" name="lozinka" type="password" placeholder="Lozinka" required>
    <button type="submit">Registruj admina</button>
      <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
  <p *ngIf="successMessage" class="success">{{ successMessage }}</p>
  </form>

</div>
