

<div class="tabela-wrapper">


<div class="table-controls">
  <input
    [(ngModel)]="searchText"
    (ngModelChange)="applyFilter()"
    type="text"
    class="search-input"
    placeholder="Pretraži..."
  />
  <button class="add-button" (click)="goToAdd()">+</button>
</div>
  
<table>
  <thead>
    <tr>
      @for (col of displayedColumns; track col) {
        <th>{{ col | titlecase }}</th>
      }
      <th>Akcije</th>
    </tr>
  </thead>
  <tbody>
    @for (item of filteredData; track item['id']) {
      <tr>
        @for (col of displayedColumns; track col) {
          <td>
            @if (isObject(getValueByPath(item, col))) {
              {{ extractDisplayValue(getValueByPath(item, col)) }}
            } @else {
              {{ getValueByPath(item, col) }}
            }
          </td>
        }
<td>
  <button class="izmeni-btn" (click)="edit.emit(item)">Izmeni</button>
  <button class="obrisi-btn" (click)="delete.emit(item['id'])">Obriši</button>
  <button class="detalji-btn" (click)="goToDetails(item)">Detalji</button>
</td>
      </tr>
    }
  </tbody>
</table>

