<header class="header">
  <div class="logo-container">
    <img src="assets/logo.png" alt="VinylVerse logo" class="logo-img" />
  </div>

  <nav [class.open]="menuOpen" class="nav-bar">
    <ul>
      <li><a routerLink="/" (click)="closeMenu()">Početna</a></li>
      <li><a routerLink="/ploce" (click)="closeMenu()">Ploče</a></li>
      <li><a routerLink="/zanrovi" (click)="closeMenu()">Žanrovi</a></li>
      <li><a routerLink="/kontakt" (click)="closeMenu()">Kontakt</a></li>
    </ul>
  </nav>

  <div class="burger" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>
</header>
