<header class="header">
  <div class="logo-container">
    <a [routerLink]="['/']" (click)="closeMenu()"><img src="assets/logo.png" alt="VinylVerse logo" class="logo-img" /></a>
  </div>

  <nav [class.open]="menuOpen" class="nav-bar">
    <ul>
      <li><a [routerLink]="['/ploca']" (click)="closeMenu()">Ploče</a></li>
      <li><a [routerLink]="['/zanr']" (click)="closeMenu()">Žanrovi</a></li>
      <li><a [routerLink]="['/about']" (click)="closeMenu()">O nama</a></li>
    </ul>
  </nav>

  <div class="burger" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>
</header>
