<header class="header">
  <div class="logo-container">
    <a [routerLink]="['/']" (click)="closeMenu()">
      <img src="assets/logo.png" alt="VinylVerse logo" class="logo-img" />
    </a>
  </div>

  <nav [class.open]="menuOpen" class="nav-bar">
    <ul>
      <li><a [routerLink]="['/ploce']" (click)="closeMenu()">Ploče</a></li>
      <li><a [routerLink]="['/zanr']" (click)="closeMenu()">Žanrovi</a></li>
      <li><a [routerLink]="['/about']" (click)="closeMenu()">O nama</a></li>


      <li *ngIf="isAdmin()"><a [routerLink]="['/admin/ploce']" (click)="closeMenu()">CRUD Ploče</a></li>
      <li *ngIf="isAdmin()"><a [routerLink]="['/admin/zanrovi']" (click)="closeMenu()">CRUD Žanrovi</a></li>
      <!-- <li *ngIf="isAdmin()"><a [routerLink]="['/admin/dashboard']" (click)="closeMenu()">Dashboard</a></li> -->
      <li *ngIf="isLoggedIn()">
  <button (click)="logout()" class="logout-btn">Odjava</button>
</li>

    </ul>
  </nav>
  

  <div class="burger" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>
</header>
