:host {
  display: block;
  background-color: #1A1A1A;
  color: #FFEEDD;
  font-family: 'Poppins', sans-serif;
}
*{
   font-family: 'Poppins', sans-serif;
   
}

body {

  font-family: 'Poppins', sans-serif;
  background-color: #1A1A1A;
  color: #EDE9E0;
}

.slika{
     background-image: url('../../../../assets/about.jpg');
   background-size: cover;
    background-position: center;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 80px 20px;
  /* background-color: #1A1A1A; */
}

.hero-logo {
  width: 250px;
  max-width: 80%;
  margin-bottom: 35px;
  /* height: 100[x]; */

}

.hero p {
  font-size: 18px;
  margin: 30px;

  color: #DCC8AF;
}

.btn {
  background-color: #C86B3C;
  color: #1A1A1A;
  padding: 12px 28px;
  border-radius: 5px;
  font-weight: bold;
  transition: background 0.3s ease;
}

.btn:hover {
  background-color: #FF9543;
}

.carousel-wrapper {
  padding: 2rem;
  color: #ffeedd;
  text-align: center;
  background-color: #2B2B2B;
}

.carousel {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  flex-wrap: wrap;
  background-color: #2B2B2B;
}

.carousel-controls button {
  background: none;
  border: 2px solid #33cc66;
  color: #33cc66;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  margin: 0 1rem;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.carousel-controls button:hover {
  background-color: #33cc66;
  color: #1a1a1a;
}

a {
  text-decoration: none;
  color: inherit;
}

