<div class="slika">
  <section class="hero">
    <img src="assets/logo.png" alt="VinylVerse Logo" class="hero-logo" />
    <h1>Muzika koja traje večno</h1>
    <p>Retro kolekcije gramofonskih ploča za istinske ljubitelje zvuka.</p>
    <a href="#" class="btn">Započni pregled</a>
  </section>


  </div>

  <hr class="zelena-linija">
  <section class="carousel-wrapper">
    <h2>Izdvajamo iz naše kolekcije</h2>

    <div class="carousel-viewport">
      <div class="carousel-track" [ngStyle]="{ transform: trackTransform }">
        @for (ploca of ploce; track ploca.id) {
          <div class="carousel-item">
            <app-ploca-card
             [id]="ploca.id"
              [naziv]="ploca.proizvod.naziv"
              [izdavackaKuca]="ploca.izdavackaKuca"
              [zanr]="ploca.zanr.naziv"
              [cena]="ploca.proizvod.cena"
              [slika]="ploca.slika"
               [slug]="generateSlug(ploca.proizvod.naziv, ploca.izdavackaKuca)">
            </app-ploca-card>
          </div>
        }
      </div>
    </div>

    <div class="carousel-controls">
      <button (click)="prethodna()">◀</button>
      <button (click)="sledeca()">▶</button>
    </div>
  </section>
