:host {
  display: block;
  /* background-color: #2B2B2B; */
  color: #FFEEDD;
  font-family: 'Poppins', sans-serif;
}

* {
  font-family: 'Poppins', sans-serif;
}

.pozadina{  background: linear-gradient(#1A1A1A, #0d0d0d);

/* 1A1A1A */
}

body {
  background-color: #1A1A1A;
  color: #EDE9E0;
}

a {
  text-decoration: none;
  color: inherit;
}

.slika {
  background-image: url('../../../../assets/about.jpg');
  background-size: cover;
  background-position: top;
}

/* HERO SEKCIJA */

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 80px 20px;
}

.hero-logo {
  width: 250px;
  max-width: 80%;
  margin-bottom: 35px;
}

.hero p {
  font-size: 18px;
  margin: 30px;
  color: #DCC8AF;
}

.btn {
  background-color: #C86B3C;
  color: #1A1A1A;
  padding: 12px 28px;
  border-radius: 5px;
  font-weight: bold;
  transition: background 0.3s ease;
}

.btn:hover {
  background-color: #FF9543;
}



.carousel-wrapper {
  padding: 2rem;
  text-align: center;
  color: #ffeedd;
  max-width: 1300px;
  margin: 0 auto;
  /* background-color: #2B2B2B; */

}

.carousel-viewport {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 500px;


}

.carousel-track {
  display: flex;
  transition: transform 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
  will-change: transform;
}

.carousel-item {
  flex: 0 0 calc(100% / 3);
  box-sizing: border-box;
 padding:  5.5rem;
}

.carousel-controls {
  margin-top: 2.5rem;
}

.carousel-controls button {
  background: none;
  border: 2px solid #33cc66;
  color: #33cc66;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.carousel-controls button:hover {
  background-color: #33cc66;
  color: #1a1a1a;
}



.carousel-viewport::before,
.carousel-viewport::after {
  content: '';
  position: absolute;
  top: 0;
  width: 80px;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}

.carousel-viewport::before {
  left: 0;
  /* background: linear-gradient(to right,#2B2B2B, transparent); */
}

.carousel-viewport::after {
  right: 0;
  /* background: linear-gradient(to left, #2B2B2B, transparent); */
}

.carousel-wrapper h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;

}hr.zelena-linija {
  border: none;
  height: 2px;
  background-color: #2b6f5b;

  border-radius: 1px;
}